{
 "openapi": "3.0.3",
 "info": {
  "title": "Bachs API",
  "version": "1.0.0",
  "description": "The Bachs API lets you accept payments, manage subscriptions, and move money across African markets.\n\n- **Authentication:** pass your secret key as `Authorization: Bearer sk_...`. See [Authentication](/authentication) for keys, scopes, and sandbox vs production.\n- **Errors:** every error returns a flat `{ \"detail\", \"error_code\", \"doc_url\" }`. See [Errors](/errors).\n- **Pagination:** list endpoints return `{ items, pagination }`. See [Pagination](/guides/pagination).\n- **Idempotency:** retry `POST` safely with the `Idempotency-Key` header. See [Idempotency](/guides/idempotency).\n- **Base URLs and rate limits:** see the [Introduction](/api-reference/overview).",
  "contact": {
   "name": "Bachs Support",
   "url": "https://bachs.io"
  }
 },
 "servers": [
  {
   "url": "https://api.bachs.io",
   "description": "Production"
  },
  {
   "url": "https://sandbox-api.bachs.io",
   "description": "Sandbox"
  }
 ],
 "security": [
  {
   "ApiKeyAuth": []
  }
 ],
 "tags": [
  {
   "name": "Payments",
   "description": "Accept payments from customers"
  },
  {
   "name": "Refunds",
   "description": "Create and manage customer refunds"
  },
  {
   "name": "Disputes",
   "description": "Respond to chargebacks and manage dispute evidence"
  },
  {
   "name": "Balances",
   "description": "View balances and account information"
  },
  {
   "name": "Conversions",
   "description": "Quote, execute, and query currency conversions"
  },
  {
   "name": "Payouts",
   "description": "Withdraw funds to external accounts"
  },
  {
   "name": "Webhooks",
   "description": "Receive real-time payment notifications"
  },
  {
   "name": "Authentication",
   "description": "API key management and authentication"
  },
  {
   "name": "Customers",
   "description": "Create and manage customers"
  },
  {
   "name": "Products",
   "description": "Define and manage your billing catalog"
  },
  {
   "name": "Product Groups",
   "description": "Bundle products for multi-plan checkout"
  },
  {
   "name": "Media",
   "description": "Upload files and get an upload_id to attach to products"
  },
  {
   "name": "Checkouts",
   "description": "Create and manage API-driven checkouts without products"
  },
  {
   "name": "Subscriptions",
   "description": "Recurring billing. Subscriptions are created through checkout; manage them here."
  },
  {
   "name": "Customer sessions",
   "description": "Open a hosted portal session so a customer can manage their own subscriptions, invoices and cards."
  },
  {
   "name": "Accounts",
   "description": "Create the accounts your platform onboards, request their capabilities, walk them through their requirements, and read what they still owe."
  },
  {
   "name": "Transfers",
   "description": "Move funds between your platform and the accounts you own."
  },
  {
   "name": "Platform Fees",
   "description": "Read the platform's cut of an account's sale."
  }
 ],
 "paths": {
  "/v1/payment-methods": {
   "get": {
    "tags": [
     "Payments"
    ],
    "summary": "List payment methods",
    "description": "Get all available payment methods and their supported currencies. Use this to determine which payment options to show customers.",
    "operationId": "listPaymentMethods",
    "security": [],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentMethodsResponse"
        },
        "example": {
         "payment_methods": [
          {
           "id": "BANK_TRANSFER",
           "display_name": "Bank Transfer",
           "icon": "bank",
           "description": "Pay via bank transfer",
           "type": "fiat",
           "enabled_by_default": true,
           "currencies": [
            "NGN",
            "USD"
           ]
          },
          {
           "id": "CRYPTO",
           "display_name": "Cryptocurrency",
           "icon": "crypto",
           "description": "Pay with supported crypto assets",
           "type": "crypto",
           "enabled_by_default": true,
           "currencies": [
            "USDT_TRC20",
            "USDT_BEP20"
           ]
          }
         ]
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/list-payment-methods"
    }
   }
  },
  "/v1/currencies/supported": {
   "get": {
    "tags": [
     "Payments"
    ],
    "summary": "List supported currencies",
    "description": "Get all supported fiat and cryptocurrency codes. Use this to validate currency selections and display currency options to users.",
    "operationId": "listSupportedCurrencies",
    "security": [],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SupportedCurrenciesResponse"
        },
        "example": {
         "fiat": [
          "USD",
          "NGN",
          "GHS",
          "KES",
          "ZAR"
         ],
         "crypto": [
          "USDT_TRC20",
          "USDT_ERC20",
          "BTC"
         ]
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/list-supported-currencies"
    }
   }
  },
  "/v1/payment-methods/rails": {
   "get": {
    "tags": [
     "Payments"
    ],
    "summary": "List payment rails",
    "description": "Get available payment rails for a specific payment method and currency combination. Use this to determine which payment rails are available before creating a quote. The 'id' field from the response should be used as the 'payment_rail' parameter when creating quotes.",
    "operationId": "listPaymentRails",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "payment_method",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "CARD",
        "CRYPTO",
        "BANK_TRANSFER",
        "MOBILE_MONEY"
       ]
      },
      "description": "Payment method to get rails for"
     },
     {
      "name": "currency",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Currency code (e.g., 'NGN', 'USD', 'GHS', 'USDT_TRC20')"
     },
     {
      "name": "country_code",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Optional ISO country code (e.g., 'NG', 'GH') to filter rails by country"
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Payment rails retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentRailsResponse"
        },
        "example": {
         "payment_method": "BANK_TRANSFER",
         "currency": "NGN",
         "country_code": "NG",
         "rails": [
          {
           "id": "bank_transfer_ng",
           "name": "Bank Transfer Nigeria",
           "active": true
          }
         ]
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/list-payment-rails"
    }
   }
  },
  "/v1/currencies/payout-supported": {
   "get": {
    "tags": [
     "Payments"
    ],
    "summary": "List payout supported currencies",
    "description": "Get all currencies that support payouts/withdrawals, organized by fiat and cryptocurrency types.",
    "operationId": "listPayoutSupportedCurrencies",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Payout supported currencies retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutSupportedCurrenciesResponse"
        },
        "example": {
         "fiat": [
          "NGN",
          "USD",
          "GHS"
         ],
         "crypto": [
          "USDT_TRC20",
          "USDT_ERC20"
         ]
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/list-payout-supported-currencies"
    }
   }
  },
  "/v1/checkout-sessions": {
   "post": {
    "tags": [
     "Checkout Sessions"
    ],
    "summary": "Create a checkout session",
    "description": "Create a product-based checkout session",
    "operationId": "createCheckoutSession",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
       },
       "example": {
        "customer": {
         "email": "customer@example.com",
         "name": "John Doe"
        },
        "product_cart": [
         {
          "product_id": "prod_abc123"
         }
        ],
        "payment_method_options": {
         "USD_CARD": {},
         "NGN_BANK_TRANSFER": {}
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Success - Checkout session created successfully",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateCheckoutSessionResponse"
        },
        "example": {
         "checkout_id": "chk_1M2N3o4P5q6R7s8T",
         "checkout_url": "https://checkout.bachs.io/c/Tb5rHn8YkQ2vXpL",
         "status": "open",
         "expires_at": "2026-01-24T15:30:00.000Z",
         "created_at": "2026-01-24T14:30:00.000Z",
         "reference": "order_9876"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/create-checkout-session"
    }
   }
  },
  "/v1/payments/charges/{charge_id}": {
   "get": {
    "tags": [
     "Payments"
    ],
    "summary": "Get Charge Status",
    "description": "Check the status of a payment charge. Use this to poll payment status or verify completion after webhook notifications.",
    "operationId": "getChargeStatus",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "charge_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Charge ID from checkout or payment"
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Charge status retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ChargeStatusResponse"
        },
        "example": {
         "charge_id": "ch_1a2b3c4d5e6f",
         "organization_id": "acct_7KpQ2mNv4XbR9dLc",
         "customer_id": "cust_xyz789",
         "amount": "75000.00",
         "currency": "NGN",
         "settlement_currency": "NGN",
         "settlement_amount": "74250.00",
         "status": "succeeded",
         "metadata": {
          "order_id": "ORD-12345",
          "product_sku": "PREMIUM-ANNUAL"
         },
         "status_history": [
          {
           "status": "created",
           "occurred_at": "2026-01-24T14:30:00.000Z",
           "reason": null
          },
          {
           "status": "processing",
           "occurred_at": "2026-01-24T14:30:30.000Z",
           "reason": null
          },
          {
           "status": "succeeded",
           "occurred_at": "2026-01-24T14:35:00.000Z",
           "reason": "Payment received and confirmed"
          }
         ],
         "created_at": "2026-01-24T14:30:00.000Z",
         "updated_at": "2026-01-24T14:35:00.000Z"
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/get-charge-status"
    }
   }
  },
  "/v1/payments": {
   "get": {
    "tags": [
     "Payments"
    ],
    "summary": "List payments",
    "description": "Return a paginated list of payments your account has received, newest first. Filter with query parameters for reconciliation and monitoring. List items carry a summary of each payment; call Retrieve a payment for the full object including fees, products, and status history.",
    "operationId": "listPayments",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "limit",
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 100,
       "default": 50
      },
      "description": "Page size. Defaults to 50. Maximum is 100."
     },
     {
      "name": "offset",
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0
      },
      "description": "Number of records to skip before returning results."
     },
     {
      "name": "status_filter",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "created",
        "processing",
        "succeeded",
        "accepted",
        "failed",
        "expired",
        "cancelled",
        "refunded",
        "partially_refunded",
        "underpaid",
        "overpaid"
       ]
      },
      "description": "Optional exact status filter for charge records."
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Payments list retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentListResponse"
        },
        "example": {
         "items": [
          {
           "id": "chrg_1a2b3c4d5e",
           "reference": "order_9876",
           "status": "succeeded",
           "is_refundable": true,
           "amount": "10.00",
           "customer_name": "Jane Doe",
           "customer_email": "customer@example.com",
           "amount_paid": "10.00",
           "amount_remaining": "0.00",
           "settlement_amount": "10.00",
           "fee": null,
           "vat": null,
           "currency": "USD",
           "settlement_currency": "USD",
           "meta": null,
           "transaction_date": "2026-04-27T12:00:00Z",
           "completed_at": "2026-04-27T12:00:05Z"
          }
         ],
         "pagination": {
          "next_cursor": null,
          "prev_cursor": null,
          "has_more": false,
          "limit": 50,
          "offset": 0,
          "returned": 1,
          "total": 1
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/list-payments"
    }
   }
  },
  "/v1/payments/{payment_id}": {
   "get": {
    "tags": [
     "Payments"
    ],
    "summary": "Retrieve a payment",
    "description": "Retrieve a single payment by its charge ID, with the full object: amount, status, the customer, fees, the products paid for, refunds, and status history.",
    "operationId": "getPaymentDetail",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "payment_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Charge ID of the payment."
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Payment retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentResponse"
        },
        "example": {
         "reference": "ord_12903",
         "payment_id": "ch_1a2b3c4d5e6f",
         "checkout_id": "chk_1M2N3o4P5q6R7s8T",
         "status": "succeeded",
         "is_refundable": true,
         "amount": "75000.00",
         "amount_paid": "75000.00",
         "amount_remaining": "0.00",
         "currency": "NGN",
         "fee_usd": "0.59",
         "merchant_bears_cost": false,
         "platform_fee": null,
         "fee_paid_by": "merchant",
         "payment_method": "NGN_BANK_TRANSFER",
         "channel": "api",
         "narration": "Order payment ORD-12903",
         "meta": {
          "order_id": "ORD-12903"
         },
         "message": "Successful",
         "customer": {
          "name": "Jane Doe",
          "email": "jane@example.com"
         },
         "created_at": "2026-02-22T12:00:00.000Z",
         "updated_at": "2026-02-22T12:01:30.000Z",
         "completed_at": "2026-02-22T12:01:30.000Z"
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payments/get-payment"
    }
   }
  },
  "/v1/balances": {
   "get": {
    "tags": [
     "Balances"
    ],
    "summary": "Retrieve balances",
    "description": "Return account balance buckets by currency, including available, locked, and pending amounts, plus a consolidated USD total.",
    "operationId": "getBalances",
    "security": [
     {
      "ApiKeyAuth": [
       "balance:read"
      ]
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Account balances retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AccountBalanceResponse"
        },
        "example": {
         "account_id": "acct_7KpQ2mNv4XbR9dLc",
         "balances": [
          {
           "currency": "NGN",
           "available_balance": "58700.00",
           "pending_balance": "0.00"
          },
          {
           "currency": "USD",
           "available_balance": "95178.20",
           "pending_balance": "0.00"
          }
         ],
         "total_balance_usd": "95221.29",
         "pending_settlements_by_day": []
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/accounts/get-balances"
    }
   }
  },
  "/v1/conversions/quotes": {
   "post": {
    "tags": [
     "Conversions"
    ],
    "summary": "Create Conversion Quote",
    "description": "Create a quote for converting between settlement currencies (USD <-> NGN).",
    "operationId": "createConversionQuote",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversionQuoteRequest"
       },
       "example": {
        "from_currency": "USD",
        "to_currency": "NGN",
        "amount": "1000.00"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Success - Conversion quote generated",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversionQuoteResponse"
        },
        "example": {
         "quote_id": "cqt_1a2b3c4d5e6f",
         "from_currency": "USD",
         "to_currency": "NGN",
         "from_amount": "1000.00",
         "to_amount": "1500000.00",
         "exchange_rate": "1500.00",
         "expires_at": "2026-01-24T14:31:00.000Z"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/conversions/create-conversion-quote"
    }
   }
  },
  "/v1/conversions": {
   "get": {
    "tags": [
     "Conversions"
    ],
    "summary": "List Conversions",
    "description": "List conversion records for your account with offset pagination.\n\nCommon errors:\n- `400 VALIDATION_ERROR`: One or more query parameters are invalid. Resolution: correct query values and retry.\n- `401 UNAUTHORIZED`: API key is missing, invalid, or revoked. Resolution: use a valid API key in the `Authorization` header.",
    "operationId": "listConversions",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 50,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "offset",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 0,
       "minimum": 0
      }
     },
     {
      "name": "from_currency",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "to_currency",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "status",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Conversions retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversionListResponse"
        },
        "example": {
         "total": 2,
         "limit": 20,
         "offset": 0,
         "items": [
          {
           "conversion_id": "cvt_1a2b3c4d5e6f",
           "status": "completed",
           "from_currency": "USD",
           "to_currency": "NGN",
           "from_amount": "1000.00",
           "to_amount": "1500000.00",
           "exchange_rate": "1500.00",
           "created_at": "2026-01-24T14:30:00.000Z"
          }
         ]
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/conversions/list-conversions"
    }
   },
   "post": {
    "tags": [
     "Conversions"
    ],
    "summary": "Execute Conversion",
    "description": "Execute a conversion between settlement currencies (USD <-> NGN) using a valid quote_id.",
    "operationId": "executeConversion",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ConversionCreateRequest"
       },
       "example": {
        "from_currency": "USD",
        "to_currency": "NGN",
        "amount": "1000.00",
        "quote_id": "cqt_1a2b3c4d5e6f"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Success - Conversion executed",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversionResponse"
        },
        "example": {
         "conversion_id": "cvt_1a2b3c4d5e6f",
         "status": "completed",
         "from_currency": "USD",
         "to_currency": "NGN",
         "from_amount": "1000.00",
         "to_amount": "1500000.00",
         "exchange_rate": "1500.00",
         "created_at": "2026-01-24T14:30:00.000Z"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/conversions/execute-conversion"
    }
   }
  },
  "/v1/conversions/{conversion_id}": {
   "get": {
    "tags": [
     "Conversions"
    ],
    "summary": "Get Conversion",
    "description": "Fetch a single conversion by ID.\n\nCommon errors:\n- `401 UNAUTHORIZED`: API key is missing, invalid, or revoked. Resolution: use a valid API key in the `Authorization` header.\n- `404 NOT_FOUND`: No conversion exists for this `conversion_id`. Resolution: verify the conversion ID and retry.",
    "operationId": "getConversion",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "conversion_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Conversion retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConversionResponse"
        },
        "example": {
         "conversion_id": "cvt_1a2b3c4d5e6f",
         "status": "completed",
         "from_currency": "USD",
         "to_currency": "NGN",
         "from_amount": "1000.00",
         "to_amount": "1500000.00",
         "exchange_rate": "1500.00",
         "created_at": "2026-01-24T14:30:00.000Z",
         "quote_id": "cqt_1a2b3c4d5e6f",
         "metadata": null
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/conversions/get-conversion"
    }
   }
  },
  "/v1/payouts/supported-currencies": {
   "get": {
    "tags": [
     "Payouts"
    ],
    "summary": "Get Supported Payout Currencies",
    "description": "Get all currencies that support payouts/withdrawals.",
    "operationId": "getSupportedPayoutCurrencies",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Supported payout currencies retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SupportedPayoutCurrenciesByMethodResponse"
        },
        "example": {
         "method": "BANK_TRANSFER",
         "currencies": [
          "NGN"
         ]
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "parameters": [
     {
      "name": "method",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Payout method to resolve currencies for."
     }
    ],
    "x-mint": {
     "href": "/api-reference/payouts/get-supported-payout-currencies"
    }
   }
  },
  "/v1/payouts/quotes": {
   "post": {
    "tags": [
     "Payouts"
    ],
    "summary": "Create Payout Quote",
    "description": "Get a quote for a payout/withdrawal before creating it. Shows fees and exchange rates.",
    "operationId": "createPayoutQuote",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PayoutQuoteRequest"
       },
       "example": {
        "from_currency": "USD",
        "to_currency": "NGN",
        "amount": "100.00"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Success - Payout quote generated",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutQuoteResponse"
        },
        "example": {
         "quote_id": "pqt_1a2b3c4d5e6f",
         "from_currency": "USD",
         "to_currency": "NGN",
         "from_amount": "100.00",
         "to_amount": "148500.00",
         "exchange_rate": "1500.00",
         "expires_at": "2026-02-22T12:31:00+00:00"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/create-payout-quote"
    }
   }
  },
  "/v1/payouts/estimate": {
   "post": {
    "tags": [
     "Payouts"
    ],
    "summary": "Estimate a payout",
    "description": "Preview a payout's fee and amounts before creating it, without committing to a quote. Unlike Create Payout, it takes the corridor directly rather than a destination id: `from_currency`, `to_currency`, `amount`, and `payout_method` (the rail: `BANK_TRANSFER`, `MOBILE_MONEY`, or `CRYPTO`, not a destination `type`). Returns `withdrawal_fee`, `gross_from_amount` (the `amount` plus the fee, what leaves the balance), and the receivable `to_amount`. For a rate you can commit to on a cross-currency payout, use Create Payout Quote instead.",
    "operationId": "estimateWithdrawal",
    "security": [
     {
      "BearerAuth": []
     },
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "example": {
        "from_currency": "USD",
        "to_currency": "NGN",
        "amount": "100.00",
        "payout_method": "BANK_TRANSFER"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The estimated fee and amounts for the corridor.",
      "content": {
       "application/json": {
        "example": {
         "from_currency": "USD",
         "to_currency": "NGN",
         "amount": "100.00",
         "payout_method": "BANK_TRANSFER",
         "withdrawal_fee": "1.50",
         "gross_from_amount": "101.50",
         "exchange_rate": "1580.0",
         "to_amount": "158000.00"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     }
    }
   }
  },
  "/v1/payouts/destinations": {
   "get": {
    "tags": [
     "Payouts"
    ],
    "summary": "List Payout Destinations",
    "description": "List all configured payout destinations (bank accounts, mobile money, crypto wallets) for your account.",
    "operationId": "listPayoutDestinations",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:read"
      ]
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Payout destinations list retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutDestinationListResponse"
        },
        "example": {
         "destinations": [
          {
           "id": "pd_7Kq2mNv4XbR9dLc0",
           "name": "My GTBank Savings",
           "type": "bank_account",
           "currency": "NGN",
           "status": "approved",
           "status_reason": null,
           "is_usable": true,
           "is_default": false,
           "account_number": "0123456789",
           "account_name": "JOHN DOE",
           "bank_code": "058",
           "bank_name": "Guaranty Trust Bank",
           "phone_number": null,
           "mobile_provider": null,
           "wallet_address": null,
           "network": null,
           "reviewed_at": "2026-01-24T15:00:00.000Z",
           "created_at": "2026-01-24T14:30:00.000Z",
           "updated_at": "2026-01-24T14:30:00.000Z"
          }
         ],
         "total": 1,
         "limit": 20,
         "offset": 0
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/list-payout-destinations"
    },
    "parameters": [
     {
      "name": "currency",
      "in": "query",
      "schema": {
       "type": "string"
      },
      "description": "Filter by destination currency code."
     },
     {
      "name": "status",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "pending_review",
        "approved",
        "rejected"
       ]
      },
      "description": "Filter by admin review status: `pending_review`, `approved`, or `rejected`."
     },
     {
      "name": "limit",
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 100,
       "default": 20
      },
      "description": "Number of records to return."
     },
     {
      "name": "offset",
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0
      },
      "description": "Number of records to skip."
     }
    ]
   },
   "post": {
    "tags": [
     "Payouts"
    ],
    "summary": "Create Payout Destination",
    "description": "Add a new payout destination (bank account, mobile money, or crypto wallet) where you can withdraw funds.",
    "operationId": "createPayoutDestination",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:write"
      ]
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreatePayoutDestinationRequest"
       },
       "example": {
        "name": "My GTBank Savings",
        "currency": "NGN",
        "label": "Treasury NGN Account",
        "account_number": "0123456789",
        "bank_code": "058"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutDestinationResponse"
        },
        "example": {
         "id": "pd_7Kq2mNv4XbR9dLc0",
         "name": "My GTBank Savings",
         "type": "bank_account",
         "currency": "NGN",
         "status": "pending_review",
         "status_reason": null,
         "is_usable": false,
         "is_default": false,
         "account_number": "0123456789",
         "account_name": "JOHN DOE",
         "bank_code": "058",
         "bank_name": "Guaranty Trust Bank",
         "phone_number": null,
         "mobile_provider": null,
         "wallet_address": null,
         "network": null,
         "reviewed_at": null,
         "created_at": "2026-01-24T14:30:00.000Z",
         "updated_at": "2026-01-24T14:30:00.000Z"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/create-payout-destination"
    }
   }
  },
  "/v1/payouts/destinations/{destination_id}": {
   "get": {
    "tags": [
     "Payouts"
    ],
    "summary": "Get Payout Destination",
    "description": "Retrieve a single payout destination by ID.",
    "operationId": "getPayoutDestination",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "destination_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutDestinationResponse"
        },
        "example": {
         "id": "pd_7Kq2mNv4XbR9dLc0",
         "name": "Treasury NGN Account",
         "type": "bank_account",
         "currency": "NGN",
         "status": "pending_review",
         "status_reason": null,
         "is_usable": false,
         "is_default": false,
         "account_number": "0123456789",
         "account_name": "JOHN DOE",
         "bank_code": "058",
         "bank_name": "Guaranty Trust Bank",
         "phone_number": null,
         "mobile_provider": null,
         "wallet_address": null,
         "network": null,
         "reviewed_at": null,
         "created_at": "2026-01-24T14:30:00.000Z",
         "updated_at": "2026-02-22T14:30:00.000Z"
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    }
   },
   "patch": {
    "tags": [
     "Payouts"
    ],
    "summary": "Update Payout Destination",
    "description": "Update a destination: rename it, (de)promote it as a payout schedule's default, or restate where money lands.\n\n`name` and `is_default` alone are safe: neither touches review status, since the default can only ever be one of your own approved destinations. Sending any routing detail \u2014 currency, type, account, wallet or phone \u2014 restates the destination in full, the same shape as `POST`; omitted routing fields fall back to what is already stored. Changing an account number, bank code, wallet, network, or phone number this way sends the destination back for review \u2014 the approval it holds was granted for the details it is being asked to leave behind.\n\nCommon errors:\n- `400 VALIDATION_ERROR`: neither `name` nor `is_default` sent, or an invalid payload for the destination type. Resolution: validate request fields and retry.\n- `401 UNAUTHORIZED`: API key is missing, invalid, or revoked. Resolution: use a valid API key in the `Authorization` header.\n- `404 NOT_FOUND`: `destination_id` was not found. Resolution: verify destination ID and retry.",
    "operationId": "updatePayoutDestination",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:write"
      ]
     }
    ],
    "parameters": [
     {
      "name": "destination_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdatePayoutDestinationRequest"
       },
       "example": {
        "name": "Treasury NGN Account"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutDestinationResponse"
        },
        "example": {
         "id": "pd_7Kq2mNv4XbR9dLc0",
         "name": "Treasury NGN Account",
         "type": "bank_account",
         "currency": "NGN",
         "status": "pending_review",
         "status_reason": null,
         "is_usable": false,
         "is_default": false,
         "account_number": "0123456789",
         "account_name": "JOHN DOE",
         "bank_code": "058",
         "bank_name": "Guaranty Trust Bank",
         "phone_number": null,
         "mobile_provider": null,
         "wallet_address": null,
         "network": null,
         "reviewed_at": null,
         "created_at": "2026-01-24T14:30:00.000Z",
         "updated_at": "2026-02-22T14:30:00.000Z"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    }
   },
   "delete": {
    "tags": [
     "Payouts"
    ],
    "summary": "Delete Payout Destination",
    "description": "Delete a payout destination.",
    "operationId": "deletePayoutDestination",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:write"
      ]
     }
    ],
    "parameters": [
     {
      "name": "destination_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success - destination deactivated",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeletePayoutDestinationResponse"
        },
        "example": {
         "id": "pd_7Kq2mNv4XbR9dLc0",
         "deleted": true
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/delete-payout-destination"
    }
   }
  },
  "/v1/payouts/resolve-account": {
   "post": {
    "tags": [
     "Payouts"
    ],
    "summary": "Resolve Bank Account",
    "description": "Validate bank account details before creating a payout destination. Verifies account number and bank code are valid.",
    "operationId": "resolveBankAccount",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/BankAccountResolveRequest"
       },
       "example": {
        "bank_code": "058",
        "account_number": "0123456789"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success - Bank account resolved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BankAccountResolveResponse"
        },
        "example": {
         "status": true,
         "message": "Account resolved successfully",
         "data": {
          "account_number": "0123456789",
          "account_name": "JOHN DOE",
          "bank_code": "058",
          "bank_name": "Guaranty Trust Bank"
         },
         "error": null
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/resolve-bank-account"
    }
   }
  },
  "/v1/payouts/banks": {
   "get": {
    "tags": [
     "Payouts"
    ],
    "summary": "List Banks",
    "description": "Get list of supported banks for bank account payouts.",
    "operationId": "listBanks",
    "security": [],
    "responses": {
     "200": {
      "description": "Success - Banks list retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BankListResponse"
        },
        "example": {
         "status": true,
         "message": "Banks retrieved successfully",
         "data": [
          {
           "name": "Guaranty Trust Bank",
           "slug": "gtbank",
           "code": "058",
           "nibss_bank_code": "058",
           "country": "NG"
          }
         ],
         "error": null
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "parameters": [
     {
      "name": "country_code",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "NG"
      },
      "description": "ISO country code used for bank list lookup."
     }
    ],
    "x-mint": {
     "href": "/api-reference/payouts/list-banks"
    }
   }
  },
  "/v1/accounts/me": {
   "get": {
    "tags": [
     "Accounts"
    ],
    "summary": "Get your own account",
    "description": "Get the account your API key belongs to, including its capability names, checkout payment methods, and balance currencies. The `capabilities` and `requirements` blocks are not populated here; read the account by ID for those. Use this to confirm your own platform holds an active `connect` capability before you create accounts. See [Become a platform](/connect/become-a-platform).",
    "operationId": "getMyOrganization",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "responses": {
     "200": {
      "description": "Your account.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrganizationResponse"
        },
        "example": {
         "id": "acct_7KpQ2mNv4XbR9dLc",
         "name": "Ada Stores",
         "owner_user_id": "usr_7b3e19d24c0a",
         "parent_organization_id": null,
         "country": "NG",
         "fee_handling": "account_pays_fee",
         "enabled_payment_methods": {
          "USD_CARD": {
           "enabled": true
          },
          "NGN_CARD": {
           "enabled": true
          },
          "NGN_BANK_TRANSFER": {
           "enabled": true
          },
          "MOMO_GHS": {
           "enabled": true
          },
          "CRYPTO": {
           "enabled": true,
           "currencies": {
            "USDT_TRC20": true,
            "USDC_BEP20": true
           }
          }
         },
         "adaptive_pricing": true,
         "balance_currencies": [
          "NGN",
          "USD"
         ],
         "phone_number": null,
         "company_name": null,
         "enabled_capabilities": [
          "payouts",
          "conversions",
          "connect"
         ],
         "capabilities": null,
         "requirements": null,
         "is_active": true,
         "created_at": "2026-08-01T09:12:44.000Z",
         "updated_at": "2026-08-07T11:04:22.518Z",
         "responsibilities": null,
         "configuration": null
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/organizations/get-my-organization"
    }
   }
  },
  "/v1/accounts/{account_id}": {
   "get": {
    "tags": [
     "Accounts"
    ],
    "summary": "Get an account",
    "description": "Read an account: your own, or one you own. A platform account and an account you own are the same object, differing only by whether they have a parent, so one path serves both. `capabilities` and `requirements` always come back; `include=requirements.values` adds what has been submitted.",
    "operationId": "getAccount",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "account_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The account to act on. It must be one of your own accounts; any other ID returns `404` so the response never confirms that an unrelated account exists.",
      "example": "acct_3Wq8ZfT1yHnJ5sVe"
     },
     {
      "name": "include",
      "in": "query",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "requirements.values"
        ]
       }
      },
      "style": "form",
      "explode": true,
      "description": "Expandable blocks to add. `requirements.values` returns the account's current field values and the per-person rollup, which cost an extra resource load. Comma-separated or repeated; an unknown value returns `400 invalid_include`. Anything not asked for is omitted from the response rather than returned as null.",
      "example": "requirements.values"
     }
    ],
    "responses": {
     "200": {
      "description": "The account.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrganizationResponse"
        },
        "example": {
         "id": "acct_3Wq8ZfT1yHnJ5sVe",
         "name": "Ada Stores",
         "owner_user_id": "usr_5e0b74c8a213",
         "parent_organization_id": "acct_7KpQ2mNv4XbR9dLc",
         "country": "NG",
         "fee_handling": "account_pays_fee",
         "enabled_payment_methods": null,
         "adaptive_pricing": true,
         "balance_currencies": [
          "NGN"
         ],
         "phone_number": null,
         "company_name": null,
         "enabled_capabilities": [
          "payouts"
         ],
         "capabilities": {
          "payouts": {
           "status": "active",
           "requested": true,
           "status_details": null
          },
          "transfers": {
           "status": "restricted",
           "requested": true,
           "status_details": [
            {
             "code": "platform_disabled",
             "resolution": "Contact support to re-enable this capability.",
             "message": "This capability was disabled by the platform."
            }
           ]
          }
         },
         "requirements": {
          "currently_due": [
           "business_profile.social_media"
          ],
          "eventually_due": [],
          "past_due": [],
          "pending_verification": [
           "company.documents.registration"
          ],
          "errors": [
           {
            "field": "company.documents.memart",
            "code": "unreadable",
            "reason": "The document image was too blurry to read."
           }
          ]
         },
         "is_active": true,
         "created_at": "2026-08-01T09:12:44.000Z",
         "updated_at": "2026-08-07T11:04:22.518Z",
         "responsibilities": {
          "fees": {
           "collector": "bachs"
          }
         },
         "configuration": {
          "recipient": {}
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     }
    }
   },
   "post": {
    "tags": [
     "Accounts"
    ],
    "summary": "Update an account",
    "description": "The one write path for an account, yours or one you own. Set its profile and contact details, request capabilities, and supply requirement values in a single call. Omitted keys are left alone.\n\nEach newly requested capability applies the configuration it belongs to, lands as `pending`, and surfaces the requirements it needs. Requesting authorizes nothing: a person enables the capability once those requirements are satisfied. Capabilities cannot be withdrawn once requested. See [Capabilities](/connect/capabilities).",
    "operationId": "updateAccount",
    "security": [
     {
      "ApiKeyAuth": [
       "connected_accounts:write"
      ]
     }
    ],
    "parameters": [
     {
      "name": "account_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The account to act on. It must be one of your own accounts; any other ID returns `404` so the response never confirms that an unrelated account exists.",
      "example": "acct_3Wq8ZfT1yHnJ5sVe"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateAccountRequest"
       },
       "example": {
        "display_name": "Ada Stores Ltd",
        "configuration": {
         "recipient": {
          "capabilities": {
           "conversions": {
            "requested": true
           }
          }
         }
        },
        "fields": {
         "business_profile": {
          "url": "https://adastores.example"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The account, including any requirements the newly requested capability just surfaced and the effect of any fields supplied.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrganizationResponse"
        },
        "example": {
         "id": "acct_3Wq8ZfT1yHnJ5sVe",
         "name": "Ada Stores",
         "owner_user_id": "usr_5e0b74c8a213",
         "parent_organization_id": "acct_7KpQ2mNv4XbR9dLc",
         "country": "NG",
         "fee_handling": "account_pays_fee",
         "enabled_payment_methods": null,
         "adaptive_pricing": true,
         "balance_currencies": [
          "NGN"
         ],
         "phone_number": null,
         "company_name": null,
         "enabled_capabilities": [
          "payouts"
         ],
         "capabilities": {
          "payouts": {
           "status": "active",
           "requested": true,
           "status_details": null
          },
          "transfers": {
           "status": "restricted",
           "requested": true,
           "status_details": [
            {
             "code": "platform_disabled",
             "resolution": "Contact support to re-enable this capability.",
             "message": "This capability was disabled by the platform."
            }
           ]
          },
          "conversions": {
           "status": "pending",
           "requested": true,
           "status_details": null
          }
         },
         "requirements": {
          "currently_due": [
           "business_profile.social_media"
          ],
          "eventually_due": [],
          "past_due": [],
          "pending_verification": [
           "company.documents.registration"
          ],
          "errors": [
           {
            "field": "company.documents.memart",
            "code": "unreadable",
            "reason": "The document image was too blurry to read."
           }
          ]
         },
         "is_active": true,
         "created_at": "2026-08-01T09:12:44.000Z",
         "updated_at": "2026-08-07T11:04:22.518Z",
         "responsibilities": {
          "fees": {
           "collector": "bachs"
          }
         },
         "configuration": {
          "recipient": {}
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     }
    }
   }
  },
  "/v1/accounts": {
   "get": {
    "tags": [
     "Accounts"
    ],
    "summary": "List accounts",
    "description": "Returns the accounts linked to your account. Items never carry the `capabilities` or `requirements` blocks; read a single account with [Get account](/api-reference/connected-accounts/get-connected-account) for those. Requires the `connect` capability to be active on your account.",
    "operationId": "listConnectedAccounts",
    "security": [
     {
      "ApiKeyAuth": [
       "connected_accounts:read"
      ]
     }
    ],
    "responses": {
     "200": {
      "description": "A page of accounts. Each entry in `items` is an [Account](/api-reference/connected-accounts/get-connected-account).",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConnectedAccountListResponse"
        },
        "example": {
         "items": [
          {
           "id": "acct_3Wq8ZfT1yHnJ5sVe",
           "name": "Ada Stores",
           "owner_user_id": "usr_7b3e19d24c0a",
           "parent_organization_id": "acct_7KpQ2mNv4XbR9dLc",
           "country": "NG",
           "fee_handling": "account_pays_fee",
           "enabled_payment_methods": null,
           "adaptive_pricing": true,
           "balance_currencies": [
            "NGN"
           ],
           "phone_number": null,
           "company_name": null,
           "enabled_capabilities": [
            "transfers"
           ],
           "capabilities": null,
           "requirements": null,
           "is_active": true,
           "created_at": "2026-08-01T09:12:44.000Z",
           "updated_at": "2026-08-07T11:04:22.518Z",
           "responsibilities": null,
           "configuration": null
          }
         ],
         "total": 42,
         "limit": 20,
         "offset": 0
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/organizations/list-connected-accounts"
    },
    "parameters": [
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 100,
       "default": 20
      },
      "description": "Number of accounts to return per page."
     },
     {
      "name": "offset",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0
      },
      "description": "Number of accounts to skip before the page starts."
     }
    ]
   },
   "post": {
    "tags": [
     "Accounts"
    ],
    "summary": "Create an account",
    "description": "Create an account under your platform. The account starts with nothing enabled: the capabilities you request here decide which requirements it is given, and a person enables each capability once those requirements are satisfied. Requires an active `connect` capability on your own platform, and an account cannot create accounts of its own. See [Create an account](/connect/accounts).",
    "operationId": "createConnectedAccount",
    "security": [
     {
      "ApiKeyAuth": [
       "connected_accounts:write"
      ]
     }
    ],
    "parameters": [
     {
      "name": "X-Account-Id",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Account ID when acting on behalf of a sub-account."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateConnectedAccountRequest"
       },
       "example": {
        "contact_email": "ada@adastores.example",
        "display_name": "Ada Stores",
        "first_name": "Ada",
        "last_name": "Okafor",
        "country": "NG",
        "entity_type": "company",
        "configuration": {
         "recipient": {
          "capabilities": {
           "payouts": {
            "requested": true
           },
           "transfers": {
            "requested": true
           }
          }
         }
        },
        "responsibilities": {
         "fees": {
          "collector": "bachs"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Account created, with the requirements the requested capabilities just surfaced.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OrganizationResponse"
        },
        "example": {
         "id": "acct_3Wq8ZfT1yHnJ5sVe",
         "name": "Ada Stores",
         "owner_user_id": "usr_5e0b74c8a213",
         "parent_organization_id": "acct_7KpQ2mNv4XbR9dLc",
         "country": "NG",
         "fee_handling": "account_pays_fee",
         "enabled_payment_methods": null,
         "adaptive_pricing": true,
         "balance_currencies": [
          "NGN"
         ],
         "phone_number": null,
         "company_name": null,
         "enabled_capabilities": [],
         "capabilities": {
          "payouts": {
           "status": "pending",
           "requested": true,
           "status_details": null
          },
          "transfers": {
           "status": "pending",
           "requested": true,
           "status_details": null
          }
         },
         "requirements": {
          "currently_due": [
           "persons",
           "company.registered_name",
           "company.registration_number",
           "payout_destination"
          ],
          "eventually_due": [],
          "past_due": [],
          "pending_verification": [],
          "errors": []
         },
         "is_active": true,
         "created_at": "2026-08-07T11:04:22.518Z",
         "updated_at": "2026-08-07T11:04:22.518Z",
         "responsibilities": {
          "fees": {
           "collector": "bachs"
          }
         },
         "configuration": {
          "recipient": {}
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     }
    }
   }
  },
  "/v1/webhooks/replay": {
   "post": {
    "tags": [
     "Webhooks"
    ],
    "summary": "Replay a webhook event",
    "description": "Replay a previously generated webhook event by creating a new outbound delivery attempt. Use this when your endpoint missed or rejected an earlier delivery and you need Bachs to send that event again.\n\nCommon errors:\n- `400 BAD_REQUEST`: No supported lookup field was provided. Resolution: provide at least one of `event_id`, `charge_id`, or `reference`.\n- `401 UNAUTHORIZED`: Authorization is missing, invalid, or revoked. Resolution: send a valid bearer credential.\n- `404 NOT_FOUND`: No matching webhook event could be resolved for your lookup values. Resolution: verify IDs/references and retry.",
    "operationId": "replayWebhookEvent",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "event_id": {
          "type": "string",
          "description": "Webhook event ID to replay directly."
         },
         "charge_id": {
          "type": "string",
          "description": "Charge ID used to resolve the latest webhook event for that charge."
         },
         "reference": {
          "type": "string",
          "description": "Checkout reference used to resolve charge and replay latest webhook event."
         }
        },
        "description": "Provide at least one identifier. If `event_id` is provided, that exact event is replayed. Otherwise, the replay target is resolved by `charge_id` or `reference`.",
        "anyOf": [
         {
          "required": [
           "event_id"
          ]
         },
         {
          "required": [
           "charge_id"
          ]
         },
         {
          "required": [
           "reference"
          ]
         }
        ]
       },
       "example": {
        "event_id": "evt_3ab4e0d5d27445cf8a52ab3d8cb8f0b1"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success - replay request accepted and a new delivery attempt was created.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "event_id",
          "attempt_id",
          "attempt_no",
          "event_type"
         ],
         "properties": {
          "event_id": {
           "type": "string",
           "description": "The event that was replayed. It keeps its original ID, so a replay is a fresh delivery of the same event rather than a new event.",
           "example": "evt_3ab4e0d5d27445cf8a52ab3d8cb8f0b1"
          },
          "attempt_id": {
           "type": "string",
           "description": "The delivery attempt this replay created. Look it up to see whether the delivery succeeded.",
           "example": "wha_6f1e40f6bdf84c1980e1e1f6407f3f8a"
          },
          "attempt_no": {
           "type": "integer",
           "description": "Which attempt this is for the event, counting every earlier automatic retry.",
           "example": 3
          },
          "event_type": {
           "type": "string",
           "description": "The type of the event that was replayed, the same value your endpoint receives in the payload.",
           "example": "collection.failed"
          }
         }
        },
        "example": {
         "event_id": "evt_3ab4e0d5d27445cf8a52ab3d8cb8f0b1",
         "attempt_id": "wha_6f1e40f6bdf84c1980e1e1f6407f3f8a",
         "attempt_no": 3,
         "event_type": "collection.failed"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/webhooks/replay-webhook-event"
    }
   }
  },
  "/v1/accounts/checkout/settings": {
   "get": {
    "tags": [
     "Accounts"
    ],
    "summary": "Get checkout settings",
    "description": "Retrieve checkout configuration for your account context, including enabled payment methods, per-method currency toggles, and fee preference.",
    "operationId": "getCheckoutSettings",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "X-Account-Id",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Account ID when acting on behalf of a sub-account."
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Checkout settings retrieved",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "organization_id": {
           "type": "string",
           "description": "The account these settings apply to, which is the account your API key belongs to, or the account you named in `X-Account-Id`.",
           "example": "acct_7KpQ2mNv4XbR9dLc"
          },
          "enabled_payment_methods": {
           "type": "object",
           "additionalProperties": {
            "type": "object",
            "properties": {
             "enabled": {
              "type": "boolean"
             },
             "currencies": {
              "type": "object",
              "additionalProperties": {
               "type": "boolean"
              }
             }
            }
           },
           "description": "The methods a customer can pay with at checkout, keyed by exact corridor (`USD_CARD`, `NGN_CARD`, `NGN_BANK_TRANSFER`, `MOMO_GHS`..`MOMO_ZMW`, `CRYPTO`) -- see [payment method support](/guides/payments/payment-method-support). Each entry carries an `enabled` flag; `CRYPTO` alone additionally carries a `currencies` map (per-asset toggles), since every other corridor already names its one currency in the key itself."
          },
          "fee_preference": {
           "type": "string",
           "enum": [
            "customer_pays",
            "org_pays"
           ],
           "description": "Who pays the processing fee on a checkout, unless the individual checkout overrides it. `customer_pays`: the fee is added on top of the amount the customer pays, so you settle the full amount. `org_pays`: you absorb the fee and it is netted out of what settles into your balance.",
           "example": "customer_pays"
          },
          "available_currencies": {
           "type": "object",
           "additionalProperties": {
            "type": "array",
            "items": {
             "type": "string"
            }
           },
           "description": "Every currency each corridor is configured to accept on the platform, keyed by the same exact corridors as `enabled_payment_methods`, so you know which currencies you can switch on before you send an update."
          }
         }
        },
        "example": {
         "organization_id": "acct_7KpQ2mNv4XbR9dLc",
         "enabled_payment_methods": {
          "USD_CARD": {
           "enabled": true
          },
          "NGN_CARD": {
           "enabled": false
          },
          "NGN_BANK_TRANSFER": {
           "enabled": true
          },
          "MOMO_GHS": {
           "enabled": true
          },
          "MOMO_XAF": {
           "enabled": true
          },
          "MOMO_XOF": {
           "enabled": true
          },
          "CRYPTO": {
           "enabled": true,
           "currencies": {
            "BNB_BEP20": false,
            "ETH_ETH": false,
            "SOL_SOL": false,
            "USDC_BEP20": false,
            "USDT_BEP20": true,
            "USDT_ERC20": false,
            "USDT_SOL": false,
            "USDT_TRC20": true
           }
          }
         },
         "fee_preference": "customer_pays",
         "available_currencies": {
          "USD_CARD": [
           "USD"
          ],
          "NGN_CARD": [
           "NGN"
          ],
          "NGN_BANK_TRANSFER": [
           "NGN"
          ],
          "MOMO_GHS": [
           "GHS"
          ],
          "CRYPTO": [
           "BNB_BEP20",
           "ETH_ETH",
           "SOL_SOL",
           "USDC_BEP20",
           "USDT_BEP20",
           "USDT_ERC20",
           "USDT_SOL",
           "USDT_TRC20"
          ]
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/organizations/get-checkout-settings"
    }
   },
   "put": {
    "tags": [
     "Accounts"
    ],
    "summary": "Update checkout settings",
    "description": "Update checkout configuration for your account context, including enabled payment methods and fee preference.",
    "operationId": "updateCheckoutSettings",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "X-Account-Id",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Account ID when acting on behalf of a sub-account."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "enabled_payment_methods": {
          "type": "object",
          "additionalProperties": {
           "type": "object",
           "properties": {
            "enabled": {
             "type": "boolean"
            },
            "currencies": {
             "type": "object",
             "additionalProperties": {
              "type": "boolean"
             }
            }
           }
          },
          "description": "The corridors to offer at checkout, keyed by exact corridor (`USD_CARD`, `NGN_CARD`, `NGN_BANK_TRANSFER`, `MOMO_GHS`..`MOMO_ZMW`, `CRYPTO`) -- see [payment method support](/guides/payments/payment-method-support). Each entry you send must carry an `enabled` boolean; `CRYPTO` additionally accepts a `currencies` map of per-asset booleans. This replaces the stored configuration wholesale: a corridor you omit resets to its platform default rather than keeping its current state."
         },
         "fee_preference": {
          "type": "string",
          "enum": [
           "customer_pays",
           "org_pays"
          ],
          "description": "Who pays the processing fee on a checkout from now on. `customer_pays`: the fee is added on top of the amount the customer pays, so you settle the full amount. `org_pays`: you absorb the fee and it is netted out of what settles into your balance. Omit the field to leave the current preference untouched.",
          "example": "org_pays"
         }
        },
        "description": "Provide one or both fields: `enabled_payment_methods` and `fee_preference`.",
        "anyOf": [
         {
          "required": [
           "enabled_payment_methods"
          ]
         },
         {
          "required": [
           "fee_preference"
          ]
         }
        ]
       },
       "example": {
        "enabled_payment_methods": {
         "USD_CARD": {
          "enabled": true
         },
         "NGN_BANK_TRANSFER": {
          "enabled": true
         },
         "MOMO_GHS": {
          "enabled": true
         },
         "MOMO_XAF": {
          "enabled": true
         },
         "MOMO_XOF": {
          "enabled": true
         },
         "CRYPTO": {
          "enabled": false,
          "currencies": {
           "BNB_BEP20": false,
           "ETH_ETH": false,
           "SOL_SOL": false,
           "USDC_BEP20": false,
           "USDT_BEP20": false,
           "USDT_ERC20": false,
           "USDT_SOL": false,
           "USDT_TRC20": false
          }
         }
        },
        "fee_preference": "org_pays"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success - Checkout settings updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "organization_id": {
           "type": "string",
           "description": "The account whose settings were updated, which is the account your API key belongs to, or the account you named in `X-Account-Id`.",
           "example": "acct_7KpQ2mNv4XbR9dLc"
          },
          "enabled_payment_methods": {
           "type": "object",
           "additionalProperties": {
            "type": "object"
           },
           "description": "The stored configuration after the update, keyed by exact corridor. The update replaces the whole map, so this returns the corridors you sent and nothing else. Read it back to confirm which corridors are now live at checkout."
          },
          "fee_preference": {
           "type": "string",
           "enum": [
            "customer_pays",
            "org_pays"
           ],
           "description": "Who now pays the processing fee on a checkout. `customer_pays`: the fee is added on top of the amount the customer pays, so you settle the full amount. `org_pays`: you absorb the fee and it is netted out of what settles into your balance.",
           "example": "org_pays"
          },
          "message": {
           "type": "string",
           "description": "A confirmation string for the update. Do not branch on it, since the returned `enabled_payment_methods` and `fee_preference` carry the state you should check.",
           "example": "Checkout settings updated successfully"
          }
         }
        },
        "example": {
         "organization_id": "acct_7KpQ2mNv4XbR9dLc",
         "enabled_payment_methods": {
          "USD_CARD": {
           "enabled": true
          },
          "NGN_BANK_TRANSFER": {
           "enabled": true
          },
          "MOMO_GHS": {
           "enabled": true
          },
          "MOMO_XAF": {
           "enabled": true
          },
          "MOMO_XOF": {
           "enabled": true
          },
          "CRYPTO": {
           "enabled": false,
           "currencies": {
            "BNB_BEP20": false,
            "ETH_ETH": false,
            "SOL_SOL": false,
            "USDC_BEP20": false,
            "USDT_BEP20": false,
            "USDT_ERC20": false,
            "USDT_SOL": false,
            "USDT_TRC20": false
           }
          }
         },
         "fee_preference": "org_pays",
         "message": "Checkout settings updated successfully"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/organizations/update-checkout-settings"
    }
   }
  },
  "/v1/balance_settings": {
   "get": {
    "tags": [
     "Balances"
    ],
    "summary": "Get balance settings",
    "description": "Read the payout schedule for your account, or for a connected account named by `X-Account-Id`. Its own resource rather than a block on the account object, so a platform can read timing without pulling the whole account.",
    "operationId": "getBalanceSettings",
    "security": [
     {
      "ApiKeyAuth": [
       "balance:read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "X-Account-Id",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Read the schedule of a connected account you own instead of your own. Same resolution every other API-key route uses: the account must be yours or one you own, or the request 404s."
     }
    ],
    "responses": {
     "200": {
      "description": "The account's payout schedule, keyed by currency. A currency with no schedule is absent rather than present and empty.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutSettingsResponse"
        },
        "example": {
         "schedule_by_currency": {
          "NGN": {
           "currency": "NGN",
           "payout_currency": "NGN",
           "interval": "weekly",
           "weekly_payout_days": [
            "monday",
            "thursday"
           ],
           "monthly_payout_days": null,
           "anchor_hour_utc": 9,
           "minimum_amount": "5000.00",
           "next_run_at": "2026-08-13T09:00:00.000Z",
           "last_run_at": null,
           "last_withdrawal_id": null,
           "disabled_reason": null
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/get-balance-settings"
    }
   },
   "post": {
    "tags": [
     "Balances"
    ],
    "summary": "Update balance settings",
    "description": "Set the payout schedule for your account, or for a connected account named by `X-Account-Id`. A currency you leave out of `schedule_by_currency` keeps the schedule it has; a currency you name is replaced in full. See [Payout Schedules](/guides/payouts/payout-schedules).",
    "operationId": "updateBalanceSettings",
    "security": [
     {
      "ApiKeyAuth": [
       "balance:write"
      ]
     }
    ],
    "parameters": [
     {
      "name": "X-Account-Id",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Set the schedule of a connected account you own instead of your own. Same resolution every other API-key route uses: the account must be yours or one you own, or the request 404s."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PayoutSettingsRequest"
       },
       "example": {
        "schedule_by_currency": {
         "NGN": {
          "interval": "weekly",
          "weekly_payout_days": [
           "monday",
           "thursday"
          ],
          "anchor_hour_utc": 9,
          "minimum_amount": "5000.00"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The account's payout schedule after the write.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutSettingsResponse"
        },
        "example": {
         "schedule_by_currency": {
          "NGN": {
           "currency": "NGN",
           "payout_currency": "NGN",
           "interval": "weekly",
           "weekly_payout_days": [
            "monday",
            "thursday"
           ],
           "monthly_payout_days": null,
           "anchor_hour_utc": 9,
           "minimum_amount": "5000.00",
           "next_run_at": "2026-08-13T09:00:00.000Z",
           "last_run_at": null,
           "last_withdrawal_id": null,
           "disabled_reason": null
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/update-balance-settings"
    }
   }
  },
  "/v1/payouts": {
   "get": {
    "tags": [
     "Payouts"
    ],
    "summary": "List Payouts",
    "description": "List payout withdrawals for your account.",
    "operationId": "listPayouts",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "limit",
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 100,
       "default": 50
      },
      "description": "Number of records to return."
     },
     {
      "name": "offset",
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0
      },
      "description": "Number of records to skip."
     },
     {
      "name": "status_filter",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "requested",
        "pending",
        "processing",
        "approved",
        "rejected",
        "completed",
        "failed"
       ]
      },
      "description": "Optional exact withdrawal status filter."
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Payout list retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutListResponse"
        },
        "example": {
         "total": 1,
         "items": [
          {
           "id": "pay_4Xr9dLc0mNv7Kq2B",
           "status": "processing",
           "amount": "5000.00",
           "currency": "NGN",
           "source_currency": "NGN",
           "fee": "100.00",
           "total_debited": "5100.00",
           "destination": "pd_7Kq2mNv4XbR9dLc0",
           "reference": "WD-20260222-001",
           "failure_reason": null,
           "created_at": "2026-02-22T12:00:00.000Z",
           "completed_at": null
          }
         ]
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/list-payouts"
    }
   },
   "post": {
    "tags": [
     "Payouts"
    ],
    "summary": "Create Payout",
    "description": "Send money to a payout destination you have already registered and approved. `amount` is what the destination receives \u2014 the fee is charged on top. A cross-currency payout omits `amount` and passes `quote_id` instead.",
    "operationId": "createPayout",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:write"
      ]
     }
    ],
    "parameters": [
     {
      "name": "Idempotency-Key",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Recommended. If the same key is retried with an identical request body, the cached response is returned rather than sending a second payout. Retrying the same key with a different body returns `409 IDEMPOTENCY_CONFLICT`."
     },
     {
      "name": "X-Account-Id",
      "in": "header",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Pay out on behalf of an account you own rather than your own account. The destination, balance, and payout are all scoped to that party."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreatePayoutRequest"
       },
       "example": {
        "destination": "pd_7Kq2mNv4XbR9dLc0",
        "amount": "5000.00",
        "reference": "payout-2026-08-07-001"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Success - Payout created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreatePayoutResponse"
        },
        "example": {
         "id": "pay_4Xr9dLc0mNv7Kq2B",
         "status": "pending",
         "amount": "5000.00",
         "currency": "NGN",
         "source_currency": "NGN",
         "fee": "100.00",
         "total_debited": "5100.00",
         "destination": "pd_7Kq2mNv4XbR9dLc0",
         "reference": "payout-2026-08-07-001",
         "failure_reason": null,
         "created_at": "2026-08-07T14:30:00.000Z"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "409": {
      "$ref": "#/components/responses/Conflict"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/create-payout"
    }
   }
  },
  "/v1/payouts/{withdrawal_id}": {
   "get": {
    "tags": [
     "Payouts"
    ],
    "summary": "Get Payout",
    "description": "Get a payout withdrawal by ID.",
    "operationId": "getPayout",
    "security": [
     {
      "ApiKeyAuth": [
       "payouts:read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "withdrawal_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Withdrawal ID."
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Payout retrieved",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PayoutResponse"
        },
        "example": {
         "id": "pay_4Xr9dLc0mNv7Kq2B",
         "status": "processing",
         "amount": "5000.00",
         "currency": "NGN",
         "source_currency": "NGN",
         "fee": "100.00",
         "total_debited": "5100.00",
         "destination": "pd_7Kq2mNv4XbR9dLc0",
         "reference": "WD-20260222-001",
         "failure_reason": null,
         "created_at": "2026-02-22T12:00:00.000Z",
         "completed_at": null
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/payouts/get-payout"
    }
   }
  },
  "/v1/refunds": {
   "post": {
    "tags": [
     "Refunds"
    ],
    "summary": "Create a refund",
    "description": "Create a refund for a completed payment. Only one refund can be created per charge.",
    "operationId": "createRefund",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateRefundRequest"
       },
       "example": {
        "charge_id": "ch_9f4c1d2e7b6a4f8e9c0d1a2b3c4d5e6f",
        "reference": "RF-20260713-0042",
        "amount": "29.00",
        "fee_bearer": "org",
        "reason": "Customer requested cancellation",
        "idempotency_key": "RF-20260713-0042"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Success - Refund created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RefundResponse"
        },
        "example": {
         "refund_id": "b7f2c41a-9d38-4e6b-8c15-2a7d0e934f61",
         "charge_id": "ch_9f4c1d2e7b6a4f8e9c0d1a2b3c4d5e6f",
         "reference": "RF-20260713-0042",
         "status": "processing",
         "requested_amount": "29.00",
         "refunded_amount": null,
         "refund_fee_amount": "0.00",
         "fee_bearer": "org",
         "reason": "Customer requested cancellation",
         "created_at": "2026-07-13T14:20:00.000Z",
         "updated_at": "2026-07-13T14:20:00.000Z",
         "completed_at": null
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "404": {
      "$ref": "#/components/responses/NotFound"
     },
     "409": {
      "$ref": "#/components/responses/Conflict"
     },
     "403": {
      "$ref": "#/components/responses/Forbidden"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "$ref": "#/components/responses/InternalServerError"
     }
    },
    "x-mint": {
     "href": "/api-reference/refunds/create-refund"
    }
   },
   "get": {
    "tags": [
     "Refunds"
    ],
    "summary": "List refunds",
    "description": "Retrieve a paginated list of refunds for your account, ordered from most recent to oldest.",
    "operationId": "listRefunds",
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "parameters": [
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 100,
       "default": 50
      },
      "description": "Number of refunds to return. Min 1, max 100. Default 50."
     },
     {
      "name": "offset",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 0,
       "default": 0
      },
      "description": "Number of refunds to skip before returning results. Default 0."
     },
     {
      "name": "status",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "processing",
        "success",
        "failed"
       ]
      },
      "description": "Return only refunds in this state. `processing`: the refund is on its way to the customer. `success`: the customer has been refunded. `failed`: the refund did not complete and the money stayed put."
     }
    ],
    "responses": {
     "200": {
      "description": "Success - Refunds listed",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RefundListResponse"
        },
        "example": {
         "total": 2,
         "items": [
          {
           "refund_id": "b7f2c41a-9d38-4e6b-8c15-2a7d0e934f61",
           "charge_id": "ch_9f4c1d2e7b6a4f8e9c0d1a2b3c4d5e6f",
           "reference": "RF-20260713-0042",
           "status": "success",
           "requested_amount": "29.00",
           "refunded_amount": "29.00",
           "refund_fee_amount": "0.00",
           "fee_bearer": "org",
           "reason": "Customer requested cancellation",
           "created_at": "2026-07-13T14:20:00.000Z",
           "updated_at": "2026-07-13T14:26:41.220Z",
           "completed_at": "2026-07-13T14:26:41.220Z"
          },
          {
           "refund_id": "5e91d7c3-84b0-4a26-9df1-6c027b3849ea",
           "charge_id": "ch_71c3f8e0a94b25d6c8f10e4a3b975d2c",
           "reference": "RF-20260711-0007",
           "status": "failed",
           "requested_amount": "75000.00",
           "refunded_amount": null,
           "refund_fee_amount": "0.00",
           "fee_bearer": "org",
           "reason": "Duplicate order",
           "created_at": "2026-07-11T16:02:11.870Z",
           "updated_at": "2026-07-11T16:04:58.310Z",
           "completed_at": "2026-07-11T16:04:58.310Z"
          }
         ]
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "400": {
[...]
