{
    "openapi": "3.0.3",
    "info": {
      "title": "Bachs API",
      "version": "1.0.0",
      "description": "The Bachs API lets you accept payments, manage subscriptions, and move money across African markets.\n\n- **Authentication:** pass your secret key as `Authorization: Bearer sk_...`. See [Authentication](/authentication) for keys, scopes, and sandbox vs production.\n- **Errors:** every error returns a flat `{ \"detail\", \"error_code\", \"doc_url\" }`. See [Errors](/errors).\n- **Pagination:** list endpoints return `{ items, pagination }`. See [Pagination](/guides/pagination).\n- **Idempotency:** retry `POST` safely with the `Idempotency-Key` header. See [Idempotency](/guides/idempotency).\n- **Base URLs and rate limits:** see the [Introduction](/api-reference/overview).",
      "contact": {
        "name": "Bachs Support",
        "url": "https://bachs.io"
      }
    },
    "servers": [
      {
        "url": "https://api.bachs.io",
        "description": "Production"
      },
      {
        "url": "https://sandbox-api.bachs.io",
        "description": "Sandbox"
      }
    ],
    "security": [
      {
        "ApiKeyAuth": []
      }
    ],
    "tags": [
      {
        "name": "Payments",
        "description": "Accept payments from customers"
      },
      {
        "name": "Refunds",
        "description": "Create and manage customer refunds"
      },
      {
        "name": "Disputes",
        "description": "Respond to chargebacks and manage dispute evidence"
      },
      {
        "name": "Accounts",
        "description": "View balances and account information"
      },
      {
        "name": "Conversions",
        "description": "Quote, execute, and query currency conversions"
      },
      {
        "name": "Payouts",
        "description": "Withdraw funds to external accounts"
      },
      {
        "name": "Organizations",
        "description": "Manage organization settings"
      },
      {
        "name": "Webhooks",
        "description": "Receive real-time payment notifications"
      },
      {
        "name": "Authentication",
        "description": "API key management and authentication"
      },
      {
        "name": "Customers",
        "description": "Create and manage customers"
      },
      {
        "name": "Products",
        "description": "Define and manage your billing catalog"
      },
      {
        "name": "Product Groups",
        "description": "Bundle products for multi-plan checkout"
      },
      {
        "name": "Media",
        "description": "Upload files and get an upload_id to attach to products"
      },
      {
        "name": "Checkouts",
        "description": "Create and manage API-driven checkouts without products"
      },
      {
        "name": "Subscriptions",
        "description": "Recurring billing. Subscriptions are created through checkout; manage them here."
      }
    ],
    "paths": {
      "/v1/payment-methods": {
        "get": {
          "tags": [
            "Payments"
          ],
          "summary": "List payment methods",
          "description": "Get all available payment methods and their supported currencies. Use this to determine which payment options to show customers.",
          "operationId": "listPaymentMethods",
          "security": [],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PaymentMethodsResponse"
                  },
                  "example": {
                    "payment_methods": [
                      {
                        "id": "BANK_TRANSFER",
                        "display_name": "Bank Transfer",
                        "icon": "bank",
                        "description": "Pay via bank transfer",
                        "type": "fiat",
                        "enabled_by_default": true,
                        "currencies": [
                          "NGN",
                          "USD"
                        ]
                      },
                      {
                        "id": "CRYPTO",
                        "display_name": "Cryptocurrency",
                        "icon": "crypto",
                        "description": "Pay with supported crypto assets",
                        "type": "crypto",
                        "enabled_by_default": true,
                        "currencies": [
                          "USDT_TRC20",
                          "USDT_BEP20"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/list-payment-methods"
          }
        }
      },
      "/v1/currencies/supported": {
        "get": {
          "tags": [
            "Payments"
          ],
          "summary": "List supported currencies",
          "description": "Get all supported fiat and cryptocurrency codes. Use this to validate currency selections and display currency options to users.",
          "operationId": "listSupportedCurrencies",
          "security": [],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SupportedCurrenciesResponse"
                  },
                  "example": {
                    "fiat": [
                      "USD",
                      "NGN",
                      "GHS",
                      "KES",
                      "ZAR"
                    ],
                    "crypto": [
                      "USDT_TRC20",
                      "USDT_ERC20",
                      "BTC"
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/list-supported-currencies"
          }
        }
      },
      "/v1/payment-methods/rails": {
        "get": {
          "tags": [
            "Payments"
          ],
          "summary": "List payment rails",
          "description": "Get available payment rails for a specific payment method and currency combination. Use this to determine which payment rails are available before creating a quote. The 'id' field from the response should be used as the 'payment_rail' parameter when creating quotes.",
          "operationId": "listPaymentRails",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "payment_method",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "enum": [
                  "CARD",
                  "CRYPTO",
                  "BANK_TRANSFER",
                  "MOBILE_MONEY"
                ]
              },
              "description": "Payment method to get rails for"
            },
            {
              "name": "currency",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Currency code (e.g., 'NGN', 'USD', 'GHS', 'USDT_TRC20')"
            },
            {
              "name": "country_code",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Optional ISO country code (e.g., 'NG', 'GH') to filter rails by country"
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Payment rails retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PaymentRailsResponse"
                  },
                  "example": {
                    "payment_method": "BANK_TRANSFER",
                    "currency": "NGN",
                    "country_code": "NG",
                    "rails": [
                      {
                        "id": "bank_transfer_ng",
                        "name": "Bank Transfer Nigeria",
                        "active": true
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/list-payment-rails"
          }
        }
      },
      "/v1/currencies/payout-supported": {
        "get": {
          "tags": [
            "Payments"
          ],
          "summary": "List payout supported currencies",
          "description": "Get all currencies that support payouts/withdrawals, organized by fiat and cryptocurrency types.",
          "operationId": "listPayoutSupportedCurrencies",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Payout supported currencies retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PayoutSupportedCurrenciesResponse"
                  },
                  "example": {
                    "fiat": [
                      "NGN",
                      "USD",
                      "GHS"
                    ],
                    "crypto": [
                      "USDT_TRC20",
                      "USDT_ERC20"
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/list-payout-supported-currencies"
          }
        }
      },
      "/v1/checkout-sessions": {
        "post": {
          "tags": [
            "Checkout Sessions"
          ],
          "summary": "Create a checkout session",
          "description": "Create a product-based checkout session",
          "operationId": "createCheckoutSession",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
                },
                "example": {
                  "customer": {
                    "email": "customer@example.com",
                    "name": "John Doe"
                  },
                  "product_cart": [
                    {
                      "product_id": "prod_abc123"
                    }
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success - Checkout session created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CreateCheckoutSessionResponse"
                  },
                  "example": {
                    "checkout_id": "chk_1a2b3c4d5e6f",
                    "checkout_url": "https://checkout.bachs.io/c/chk_1a2b3c4d5e6f",
                    "status": "open",
                    "expires_at": "2026-01-24T15:30:00.000Z",
                    "created_at": "2026-01-24T14:30:00.000Z",
                    "reference": "order_9876"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/create-checkout-session"
          }
        }
      },
      "/v1/payments/charges/{charge_id}": {
        "get": {
          "tags": [
            "Payments"
          ],
          "summary": "Get Charge Status",
          "description": "Check the status of a payment charge. Use this to poll payment status or verify completion after webhook notifications.",
          "operationId": "getChargeStatus",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "charge_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Charge ID from checkout or payment"
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Charge status retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ChargeStatusResponse"
                  },
                  "example": {
                    "charge_id": "chr_1a2b3c4d5e6f",
                    "organization_id": "org_abc123",
                    "customer_id": "cust_xyz789",
                    "amount": "75000.00",
                    "currency": "NGN",
                    "settlement_currency": "NGN",
                    "settlement_amount": "74250.00",
                    "status": "succeeded",
                    "metadata": {
                      "order_id": "ORD-12345",
                      "product_sku": "PREMIUM-ANNUAL"
                    },
                    "status_history": [
                      {
                        "status": "created",
                        "occurred_at": "2026-01-24T14:30:00.000Z",
                        "provider_reference": null,
                        "reason": null
                      },
                      {
                        "status": "processing",
                        "occurred_at": "2026-01-24T14:30:30.000Z",
                        "provider_reference": "Bachs_ref_12345",
                        "reason": null
                      },
                      {
                        "status": "succeeded",
                        "occurred_at": "2026-01-24T14:35:00.000Z",
                        "provider_reference": "Bachs_ref_12345",
                        "reason": "Payment received and confirmed"
                      }
                    ],
                    "created_at": "2026-01-24T14:30:00.000Z",
                    "updated_at": "2026-01-24T14:35:00.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/get-charge-status"
          }
        }
      },
      "/v1/payments": {
        "get": {
          "tags": [
            "Payments"
          ],
          "summary": "List payments",
          "description": "Return a paginated list of payments your organization has received, newest first. Filter with query parameters for reconciliation and monitoring. List items carry a summary of each payment; call Retrieve a payment for the full object including fees, products, and status history.",
          "operationId": "listPayments",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "description": "Page size. Defaults to 50. Maximum is 100."
            },
            {
              "name": "offset",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 0,
                "default": 0
              },
              "description": "Number of records to skip before returning results."
            },
            {
              "name": "status_filter",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "created",
                  "processing",
                  "succeeded",
                  "accepted",
                  "failed",
                  "expired",
                  "cancelled",
                  "refunded",
                  "partially_refunded",
                  "underpaid",
                  "overpaid"
                ]
              },
              "description": "Optional exact status filter for charge records."
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Payments list retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PaymentListResponse"
                  },
                  "example": {
                    "items": [
                      {
                        "id": "chrg_1a2b3c4d5e",
                        "reference": "order_9876",
                        "status": "succeeded",
                        "is_refundable": true,
                        "amount": "10.00",
                        "customer_name": "Jane Doe",
                        "customer_email": "customer@example.com",
                        "amount_paid": "10.00",
                        "amount_remaining": "0.00",
                        "settlement_amount": "10.00",
                        "fee": null,
                        "vat": null,
                        "currency": "USD",
                        "settlement_currency": "USD",
                        "meta": null,
                        "transaction_date": "2026-04-27T12:00:00Z",
                        "completed_at": "2026-04-27T12:00:05Z"
                      }
                    ],
                    "pagination": {
                      "next_cursor": null,
                      "prev_cursor": null,
                      "has_more": false,
                      "limit": 50,
                      "offset": 0,
                      "returned": 1,
                      "total": 1
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/list-payments"
          }
        }
      },
      "/v1/payments/{payment_id}": {
        "get": {
          "tags": [
            "Payments"
          ],
          "summary": "Retrieve a payment",
          "description": "Retrieve a single payment by its charge ID, with the full object: amount, status, the customer, fees, the products paid for, refunds, and status history.",
          "operationId": "getPaymentDetail",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "payment_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Charge ID of the payment."
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Payment retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PaymentResponse"
                  },
                  "example": {
                    "reference": "ord_12903",
                    "payment_id": "chr_1a2b3c4d5e6f",
                    "checkout_id": "chk_1a2b3c4d5e6f",
                    "status": "succeeded",
                    "is_refundable": true,
                    "amount": "75000.00",
                    "amount_paid": "75000.00",
                    "amount_remaining": "0.00",
                    "currency": "NGN",
                    "fee_usd": "0.59",
                    "merchant_bears_cost": false,
                    "payment_source_type": "bank_transfer",
                    "payment_method": "BANK_TRANSFER",
                    "payment_rail": "bank_transfer_ng",
                    "channel": "api",
                    "narration": "Order payment ORD-12903",
                    "meta": {
                      "order_id": "ORD-12903"
                    },
                    "message": "Successful",
                    "customer": {
                      "name": "Jane Doe",
                      "email": "jane@example.com"
                    },
                    "created_at": "2026-02-22T12:00:00.000Z",
                    "updated_at": "2026-02-22T12:01:30.000Z",
                    "completed_at": "2026-02-22T12:01:30.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payments/get-payment"
          }
        }
      },
      "/v1/accounts/balances": {
        "get": {
          "tags": [
            "Accounts"
          ],
          "summary": "Retrieve balances",
          "description": "Return organization balance buckets by currency, including available, locked, and pending amounts, plus a consolidated USD total.",
          "operationId": "getBalances",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Account balances retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccountBalanceResponse"
                  },
                  "example": {
                    "account_id": "org_2bdb10644eba4ec488b7e87405597e43",
                    "balances": [
                      {
                        "currency": "NGN",
                        "available_balance": "58700.00",
                        "pending_balance": "0.00"
                      },
                      {
                        "currency": "USD",
                        "available_balance": "95178.20",
                        "pending_balance": "0.00"
                      }
                    ],
                    "total_balance_usd": "95221.29",
                    "pending_settlements_by_day": []
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/accounts/get-balances"
          }
        }
      },
      "/v1/conversions/quotes": {
        "post": {
          "tags": [
            "Conversions"
          ],
          "summary": "Create Conversion Quote",
          "description": "Create a quote for converting between settlement currencies (USD \u003C-\u003E NGN).",
          "operationId": "createConversionQuote",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionQuoteRequest"
                },
                "example": {
                  "from_currency": "USD",
                  "to_currency": "NGN",
                  "amount": "1000.00"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success - Conversion quote generated",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConversionQuoteResponse"
                  },
                  "example": {
                    "quote_id": "cqt_1a2b3c4d5e6f",
                    "from_currency": "USD",
                    "to_currency": "NGN",
                    "from_amount": "1000.00",
                    "to_amount": "1500000.00",
                    "exchange_rate": "1500.00",
                    "expires_at": "2026-01-24T14:31:00.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/conversions/create-conversion-quote"
          }
        }
      },
      "/v1/conversions": {
        "get": {
          "tags": [
            "Conversions"
          ],
          "summary": "List Conversions",
          "description": "List conversion records for your organization with offset pagination.\n\nCommon errors:\n- `400 VALIDATION_ERROR`: One or more query parameters are invalid. Resolution: correct query values and retry.\n- `401 UNAUTHORIZED`: API key is missing, invalid, or revoked. Resolution: use a valid API key in the `Authorization` header.",
          "operationId": "listConversions",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 50,
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 0,
                "minimum": 0
              }
            },
            {
              "name": "from_currency",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "to_currency",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "start_date",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "end_date",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Conversions retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConversionListResponse"
                  },
                  "example": {
                    "total": 2,
                    "limit": 20,
                    "offset": 0,
                    "items": [
                      {
                        "conversion_id": "cvt_1a2b3c4d5e6f",
                        "status": "completed",
                        "from_currency": "USD",
                        "to_currency": "NGN",
                        "from_amount": "1000.00",
                        "to_amount": "1500000.00",
                        "exchange_rate": "1500.00",
                        "created_at": "2026-01-24T14:30:00.000Z"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/conversions/list-conversions"
          }
        },
        "post": {
          "tags": [
            "Conversions"
          ],
          "summary": "Execute Conversion",
          "description": "Execute a conversion between settlement currencies (USD \u003C-\u003E NGN) using a valid quote_id.",
          "operationId": "executeConversion",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionCreateRequest"
                },
                "example": {
                  "from_currency": "USD",
                  "to_currency": "NGN",
                  "amount": "1000.00",
                  "quote_id": "cqt_1a2b3c4d5e6f"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success - Conversion executed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConversionResponse"
                  },
                  "example": {
                    "conversion_id": "cvt_1a2b3c4d5e6f",
                    "status": "completed",
                    "from_currency": "USD",
                    "to_currency": "NGN",
                    "from_amount": "1000.00",
                    "to_amount": "1500000.00",
                    "exchange_rate": "1500.00",
                    "created_at": "2026-01-24T14:30:00.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/conversions/execute-conversion"
          }
        }
      },
      "/v1/conversions/{conversion_id}": {
        "get": {
          "tags": [
            "Conversions"
          ],
          "summary": "Get Conversion",
          "description": "Fetch a single conversion by ID.\n\nCommon errors:\n- `401 UNAUTHORIZED`: API key is missing, invalid, or revoked. Resolution: use a valid API key in the `Authorization` header.\n- `404 NOT_FOUND`: No conversion exists for this `conversion_id`. Resolution: verify the conversion ID and retry.",
          "operationId": "getConversion",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "conversion_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Conversion retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConversionResponse"
                  },
                  "example": {
                    "conversion_id": "cvt_1a2b3c4d5e6f",
                    "status": "completed",
                    "from_currency": "USD",
                    "to_currency": "NGN",
                    "from_amount": "1000.00",
                    "to_amount": "1500000.00",
                    "exchange_rate": "1500.00",
                    "created_at": "2026-01-24T14:30:00.000Z",
                    "quote_id": "cqt_1a2b3c4d5e6f",
                    "metadata": null
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/conversions/get-conversion"
          }
        }
      },
      "/v1/payouts/supported-currencies": {
        "get": {
          "tags": [
            "Payouts"
          ],
          "summary": "Get Supported Payout Currencies",
          "description": "Get all currencies that support payouts/withdrawals.",
          "operationId": "getSupportedPayoutCurrencies",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Supported payout currencies retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SupportedPayoutCurrenciesByMethodResponse"
                  },
                  "example": {
                    "method": "BANK_TRANSFER",
                    "currencies": [
                      "NGN"
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "parameters": [
            {
              "name": "method",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Payout method to resolve currencies for."
            }
          ],
          "x-mint": {
            "href": "/api-reference/payouts/get-supported-payout-currencies"
          }
        }
      },
      "/v1/payouts/quotes": {
        "post": {
          "tags": [
            "Payouts"
          ],
          "summary": "Create Payout Quote",
          "description": "Get a quote for a payout/withdrawal before creating it. Shows fees and exchange rates.",
          "operationId": "createPayoutQuote",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutQuoteRequest"
                },
                "example": {
                  "from_currency": "USD",
                  "to_currency": "NGN",
                  "amount": "100.00"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success - Payout quote generated",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PayoutQuoteResponse"
                  },
                  "example": {
                    "quote_id": "pqt_1a2b3c4d5e6f",
                    "from_currency": "USD",
                    "to_currency": "NGN",
                    "from_amount": "100.00",
                    "to_amount": "150000.00",
                    "exchange_rate": "1500.00",
                    "expires_at": "2026-02-22T12:31:00+00:00"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/create-payout-quote"
          }
        }
      },
      "/v1/payouts/destinations": {
        "get": {
          "tags": [
            "Payouts"
          ],
          "summary": "List Payout Destinations",
          "description": "List all configured payout destinations (bank accounts, mobile money, crypto wallets) for your organization.",
          "operationId": "listPayoutDestinations",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Payout destinations list retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PayoutDestinationListResponse"
                  },
                  "example": {
                    "destinations": [
                      {
                        "id": "dest_1a2b3c4d5e6f",
                        "organization_id": "org_abc123",
                        "env": "live",
                        "destination_type": "bank_account",
                        "currency": "NGN",
                        "label": "My GTBank Savings",
                        "account_number": "0123456789",
                        "account_name": "JOHN DOE",
                        "bank_code": "058",
                        "bank_name": "Guaranty Trust Bank",
                        "phone_number": null,
                        "mobile_provider": null,
                        "wallet_address": null,
                        "network": null,
                        "is_active": true,
                        "metadata": null,
                        "created_at": "2026-01-24T14:30:00.000Z",
                        "updated_at": "2026-01-24T14:30:00.000Z"
                      }
                    ],
                    "total": 1
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/list-payout-destinations"
          }
        },
        "post": {
          "tags": [
            "Payouts"
          ],
          "summary": "Create Payout Destination",
          "description": "Add a new payout destination (bank account, mobile money, or crypto wallet) where you can withdraw funds.",
          "operationId": "createPayoutDestination",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutDestinationRequest"
                },
                "example": {
                  "destination_type": "bank_account",
                  "currency": "NGN",
                  "account_number": "0123456789",
                  "account_name": "John Doe",
                  "bank_code": "058"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PayoutDestinationResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/create-payout-destination"
          }
        }
      },
      "/v1/payouts/destinations/{destination_id}": {
        "put": {
          "tags": [
            "Payouts"
          ],
          "summary": "Update Payout Destination",
          "description": "Update an existing payout destination.\n\nCommon errors:\n- `400 VALIDATION_ERROR`: Invalid payload for destination type. Resolution: validate request fields and retry.\n- `401 UNAUTHORIZED`: API key is missing, invalid, or revoked. Resolution: use a valid API key in the `Authorization` header.\n- `404 NOT_FOUND`: `destination_id` was not found. Resolution: verify destination ID and retry.",
          "operationId": "updatePayoutDestination",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "destination_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutDestinationRequest"
                },
                "example": {
                  "destination_type": "bank_account",
                  "currency": "NGN",
                  "account_number": "0123456789",
                  "account_name": "JOHN DOE",
                  "bank_code": "058"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PayoutDestinationResponse"
                  },
                  "example": {
                    "id": "dest_1a2b3c4d5e6f",
                    "organization_id": "org_abc123",
                    "env": "live",
                    "destination_type": "bank_account",
                    "currency": "NGN",
                    "label": "Treasury NGN Account",
                    "account_number": "0123456789",
                    "account_name": "JOHN DOE",
                    "bank_code": "058",
                    "bank_name": "Guaranty Trust Bank",
                    "phone_number": null,
                    "mobile_provider": null,
                    "wallet_address": null,
                    "network": null,
                    "is_active": true,
                    "metadata": null,
                    "created_at": "2026-01-24T14:30:00.000Z",
                    "updated_at": "2026-02-22T14:30:00.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/update-payout-destination"
          }
        },
        "delete": {
          "tags": [
            "Payouts"
          ],
          "summary": "Delete Payout Destination",
          "description": "Delete a payout destination.",
          "operationId": "deletePayoutDestination",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "destination_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success - destination deactivated",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DeletePayoutDestinationResponse"
                  },
                  "example": {
                    "success": true,
                    "message": "Payout destination deleted"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/delete-payout-destination"
          }
        }
      },
      "/v1/payouts/resolve-account": {
        "post": {
          "tags": [
            "Payouts"
          ],
          "summary": "Resolve Bank Account",
          "description": "Validate bank account details before creating a payout destination. Verifies account number and bank code are valid.",
          "operationId": "resolveBankAccount",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResolveRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success - Bank account resolved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankAccountResolveResponse"
                  },
                  "example": {
                    "status": true,
                    "message": "Account resolved successfully",
                    "data": {
                      "account_number": "0123456789",
                      "account_name": "JOHN DOE",
                      "bank_code": "058",
                      "bank_name": "Guaranty Trust Bank"
                    },
                    "error": null
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/resolve-bank-account"
          }
        }
      },
      "/v1/payouts/banks": {
        "get": {
          "tags": [
            "Payouts"
          ],
          "summary": "List Banks",
          "description": "Get list of supported banks for bank account payouts.",
          "operationId": "listBanks",
          "security": [],
          "responses": {
            "200": {
              "description": "Success - Banks list retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankListResponse"
                  },
                  "example": {
                    "status": true,
                    "message": "Banks retrieved successfully",
                    "data": [
                      {
                        "name": "Guaranty Trust Bank",
                        "slug": "gtbank",
                        "code": "058",
                        "nibss_bank_code": "058",
                        "country": "NG"
                      }
                    ],
                    "error": null
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "parameters": [
            {
              "name": "country_code",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "NG"
              },
              "description": "ISO country code used for bank list lookup."
            }
          ],
          "x-mint": {
            "href": "/api-reference/payouts/list-banks"
          }
        }
      },
      "/v1/organizations/me": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "Get My Organization",
          "description": "Get details of your organization including payment methods, settings, and configuration.\n\nCommon errors:\n- `401 UNAUTHORIZED`: Authorization is missing, invalid, or revoked. Resolution: send a valid bearer credential.\n- `404 NOT_FOUND`: Organization could not be resolved from auth context. Resolution: verify credentials and organization access.",
          "operationId": "getMyOrganization",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationResponse"
                  },
                  "example": {
                    "id": "org_abc123",
                    "name": "My Company Inc",
                    "owner_user_id": "user_xyz789",
                    "parent_organization_id": null,
                    "onboarding_status": "COMPLETED",
                    "payments_status": "ENABLED",
                    "country": "NG",
                    "env": "live",
                    "fee_handling": "org_pays_fee",
                    "enabled_payment_methods": {
                      "bank_transfer": {
                        "enabled": true,
                        "currencies": {
                          "NGN": true,
                          "USD": false
                        }
                      },
                      "mobile_money": {
                        "enabled": true,
                        "currencies": {
                          "GHS": true
                        }
                      }
                    },
                    "is_active": true,
                    "created_at": "2026-01-15T10:00:00.000Z",
                    "updated_at": "2026-02-22T14:30:00.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/organizations/get-my-organization"
          }
        }
      },
      "/v1/organizations/{organization_id}": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "Get Organization",
          "description": "Get details of a specific organization by ID.\n\nCommon errors:\n- `401 UNAUTHORIZED`: API key is missing, invalid, or revoked. Resolution: use a valid API key in the `Authorization` header.\n- `404 NOT_FOUND`: No organization matches `organization_id`. Resolution: verify the ID and retry.",
          "operationId": "getOrganization",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "organization_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationResponse"
                  },
                  "example": {
                    "id": "org_abc123",
                    "name": "My Company Inc",
                    "owner_user_id": "user_xyz789",
                    "parent_organization_id": null,
                    "onboarding_status": "COMPLETED",
                    "payments_status": "ENABLED",
                    "country": "NG",
                    "env": "live",
                    "fee_handling": "org_pays_fee",
                    "enabled_payment_methods": {
                      "bank_transfer": {
                        "enabled": true,
                        "currencies": {
                          "NGN": true,
                          "USD": false
                        }
                      },
                      "mobile_money": {
                        "enabled": true,
                        "currencies": {
                          "GHS": true
                        }
                      }
                    },
                    "is_active": true,
                    "created_at": "2026-01-15T10:00:00.000Z",
                    "updated_at": "2026-02-22T14:30:00.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/organizations/get-organization"
          }
        }
      },
      "/v1/organizations/connected-accounts": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "List Connected Accounts",
          "description": "List all connected accounts (sub-organizations) linked to your main organization.",
          "operationId": "listConnectedAccounts",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Connected accounts list retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrganizationResponse"
                    }
                  },
                  "example": [
                    {
                      "id": "org_connected_123",
                      "name": "Sub-account 1",
                      "owner_user_id": "user_xyz789",
                      "parent_organization_id": "org_abc123",
                      "onboarding_status": "COMPLETED",
                      "payments_status": "ENABLED",
                      "country": "NG",
                      "env": "live",
                      "fee_handling": "org_pays_fee",
                      "enabled_payment_methods": {
                        "bank_transfer": {
                          "enabled": true,
                          "currencies": [
                            "NGN"
                          ]
                        }
                      },
                      "is_active": true,
                      "created_at": "2026-01-20T10:00:00.000Z",
                      "updated_at": "2026-01-24T14:30:00.000Z"
                    }
                  ]
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/organizations/list-connected-accounts"
          }
        }
      },
      "/v1/webhooks/replay": {
        "post": {
          "tags": [
            "Webhooks"
          ],
          "summary": "Replay a webhook event",
          "description": "Replay a previously generated webhook event by creating a new outbound delivery attempt. Use this when your endpoint missed or rejected an earlier delivery and you need Bachs to send that event again.\n\nCommon errors:\n- `400 BAD_REQUEST`: No supported lookup field was provided. Resolution: provide at least one of `event_id`, `charge_id`, or `reference`.\n- `401 UNAUTHORIZED`: Authorization is missing, invalid, or revoked. Resolution: send a valid bearer credential.\n- `404 NOT_FOUND`: No matching webhook event could be resolved for your lookup values. Resolution: verify IDs/references and retry.",
          "operationId": "replayWebhookEvent",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event_id": {
                      "type": "string",
                      "description": "Webhook event ID to replay directly."
                    },
                    "charge_id": {
                      "type": "string",
                      "description": "Charge ID used to resolve the latest webhook event for that charge."
                    },
                    "reference": {
                      "type": "string",
                      "description": "Checkout reference used to resolve charge and replay latest webhook event."
                    }
                  },
                  "description": "Provide at least one identifier. If `event_id` is provided, that exact event is replayed. Otherwise, the replay target is resolved by `charge_id` or `reference`.",
                  "anyOf": [
                    {
                      "required": [
                        "event_id"
                      ]
                    },
                    {
                      "required": [
                        "charge_id"
                      ]
                    },
                    {
                      "required": [
                        "reference"
                      ]
                    }
                  ]
                },
                "example": {
                  "event_id": "evt_3ab4e0d5d27445cf8a52ab3d8cb8f0b1"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success - replay request accepted and a new delivery attempt was created.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": [
                      "success",
                      "event_id",
                      "attempt_id",
                      "attempt_no",
                      "event_type"
                    ],
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "description": "Replay enqueue result."
                      },
                      "event_id": {
                        "type": "string",
                        "description": "Event ID replayed."
                      },
                      "attempt_id": {
                        "type": "string",
                        "description": "New webhook attempt ID."
                      },
                      "attempt_no": {
                        "type": "integer",
                        "description": "Attempt sequence number for that event."
                      },
                      "event_type": {
                        "type": "string",
                        "description": "Webhook event type replayed."
                      }
                    }
                  },
                  "example": {
                    "event_id": "evt_3ab4e0d5d27445cf8a52ab3d8cb8f0b1",
                    "attempt_id": "wha_6f1e40f6bdf84c1980e1e1f6407f3f8a",
                    "attempt_no": 3,
                    "event_type": "collection.failed"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/webhooks/replay-webhook-event"
          }
        }
      },
      "/v1/organizations/checkout/settings": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "Get Checkout Settings",
          "description": "Retrieve checkout configuration for your organization context, including enabled payment methods, per-method currency toggles, and fee preference.",
          "operationId": "getCheckoutSettings",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "X-Connected-Account-ID",
              "in": "header",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Connected account ID when acting on behalf of a sub-organization."
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Checkout settings retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "organization_id": {
                        "type": "string"
                      },
                      "enabled_payment_methods": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "currencies": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      },
                      "fee_preference": {
                        "type": "string",
                        "enum": [
                          "customer_pays",
                          "org_pays"
                        ]
                      },
                      "available_currencies": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/organizations/get-checkout-settings"
          }
        },
        "put": {
          "tags": [
            "Organizations"
          ],
          "summary": "Update Checkout Settings",
          "description": "Update checkout configuration for your organization context, including enabled payment methods and fee preference.",
          "operationId": "updateCheckoutSettings",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "X-Connected-Account-ID",
              "in": "header",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Connected account ID when acting on behalf of a sub-organization."
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled_payment_methods": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean"
                          },
                          "currencies": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "fee_preference": {
                      "type": "string",
                      "enum": [
                        "customer_pays",
                        "org_pays"
                      ]
                    }
                  },
                  "description": "Provide one or both fields: `enabled_payment_methods` and `fee_preference`.",
                  "anyOf": [
                    {
                      "required": [
                        "enabled_payment_methods"
                      ]
                    },
                    {
                      "required": [
                        "fee_preference"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success - Checkout settings updated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "organization_id": {
                        "type": "string"
                      },
                      "enabled_payment_methods": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object"
                        }
                      },
                      "fee_preference": {
                        "type": "string",
                        "enum": [
                          "customer_pays",
                          "org_pays"
                        ]
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/organizations/update-checkout-settings"
          }
        }
      },
      "/v1/payouts": {
        "get": {
          "tags": [
            "Payouts"
          ],
          "summary": "List Payouts",
          "description": "List payout withdrawals for your organization.",
          "operationId": "listPayouts",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "description": "Number of records to return."
            },
            {
              "name": "offset",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 0,
                "default": 0
              },
              "description": "Number of records to skip."
            },
            {
              "name": "status_filter",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "requested",
                  "pending",
                  "processing",
                  "approved",
                  "rejected",
                  "completed",
                  "failed"
                ]
              },
              "description": "Optional exact withdrawal status filter."
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Payout list retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PayoutListResponse"
                  },
                  "example": {
                    "total": 1,
                    "items": [
                      {
                        "withdrawal_id": "wd_1a2b3c4d5e6f",
                        "organization_id": "org_abc123",
                        "amount": "100.00",
                        "currency": "USD",
                        "reference": "WD-20260222-001",
                        "from_currency": "USD",
                        "to_currency": "NGN",
                        "from_amount": "100.00",
                        "to_amount": "150000.00",
                        "status": "processing",
                        "payout_method": "BANK_TRANSFER",
                        "destination": "058 • 0123456789",
                        "created_at": "2026-02-22T12:00:00.000Z",
                        "completed_at": null
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/list-payouts"
          }
        }
      },
      "/v1/payouts/{withdrawal_id}": {
        "get": {
          "tags": [
            "Payouts"
          ],
          "summary": "Get Payout",
          "description": "Get a payout withdrawal by ID.",
          "operationId": "getPayout",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "withdrawal_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Withdrawal ID."
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Payout retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PayoutResponse"
                  },
                  "example": {
                    "withdrawal_id": "wd_1a2b3c4d5e6f",
                    "organization_id": "org_abc123",
                    "amount": "100.00",
                    "currency": "USD",
                    "reference": "WD-20260222-001",
                    "from_currency": "USD",
                    "to_currency": "NGN",
                    "from_amount": "100.00",
                    "to_amount": "150000.00",
                    "status": "processing",
                    "payout_method": "BANK_TRANSFER",
                    "destination": "058 • 0123456789",
                    "created_at": "2026-02-22T12:00:00.000Z",
                    "completed_at": null
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/get-payout"
          }
        }
      },
      "/v1/payouts/withdrawals": {
        "post": {
          "tags": [
            "Payouts"
          ],
          "summary": "Create Withdrawal",
          "description": "Create a payout withdrawal request and start payout processing.",
          "operationId": "createWithdrawal",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWithdrawalRequest"
                },
                "example": {
                  "from_currency": "USD",
                  "to_currency": "NGN",
                  "amount": "100.00",
                  "payment_method": "BANK_TRANSFER",
                  "reference": "WD-20260222-001",
                  "email": "ops@example.com",
                  "account_number": "0123456789",
                  "bank_code": "058"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success - Withdrawal created",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CreateWithdrawalResponse"
                  },
                  "example": {
                    "withdrawal_id": "wd_1a2b3c4d5e6f",
                    "status": "pending",
                    "provider_reference": null
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "409": {
              "$ref": "#/components/responses/Conflict"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/payouts/create-withdrawal"
          }
        }
      },
      "/v1/refunds": {
        "post": {
          "tags": [
            "Refunds"
          ],
          "summary": "Create a refund",
          "description": "Create a refund for a completed payment. Only one refund can be created per charge.",
          "operationId": "createRefund",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRefundRequest"
                },
                "example": {
                  "charge_id": "chr_8f3a1c9b4e72",
                  "reference": "rf_20260309_001"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success - Refund created",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RefundResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "409": {
              "$ref": "#/components/responses/Conflict"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/refunds/create-refund"
          }
        },
        "get": {
          "tags": [
            "Refunds"
          ],
          "summary": "List refunds",
          "description": "Retrieve a paginated list of refunds for your organization, ordered from most recent to oldest.",
          "operationId": "listRefunds",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "description": "Number of refunds to return. Min 1, max 100. Default 50."
            },
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 0,
                "default": 0
              },
              "description": "Number of refunds to skip before returning results. Default 0."
            },
            {
              "name": "status",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "PROCESSING",
                  "SUCCESS",
                  "FAILED"
                ]
              },
              "description": "Filter by refund status. Accepted values: PROCESSING, SUCCESS, FAILED."
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Refunds listed",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RefundListResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/refunds/list-refunds"
          }
        }
      },
      "/v1/refunds/{refund_id}": {
        "get": {
          "tags": [
            "Refunds"
          ],
          "summary": "Retrieve a refund",
          "description": "Retrieve a single refund by its ID.",
          "operationId": "getRefund",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "refund_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "The unique identifier for the refund."
            }
          ],
          "responses": {
            "200": {
              "description": "Success - Refund retrieved",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RefundResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/refunds/get-refund"
          }
        }
      },
      "/v1/payments/disputes": {
        "get": {
          "tags": [
            "Disputes"
          ],
          "summary": "List Disputes",
          "description": "Retrieve a paginated list of disputes for your organization. Results are returned with the most recently created disputes first.",
          "operationId": "listDisputes",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "description": "Number of disputes to return. Minimum 1 and maximum 100.",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              }
            },
            {
              "name": "offset",
              "in": "query",
              "required": false,
              "description": "Number of disputes to skip before returning results.",
              "schema": {
                "type": "integer",
                "minimum": 0,
                "default": 0
              }
            },
            {
              "name": "status",
              "in": "query",
              "required": false,
              "description": "Filter disputes by status.",
              "schema": {
                "type": "string",
                "enum": [
                  "needs_response",
                  "under_review",
                  "won",
                  "lost",
                  "closed"
                ]
              }
            },
            {
              "name": "from_date",
              "in": "query",
              "required": false,
              "description": "Return disputes created at or after this timestamp (ISO 8601).",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "to_date",
              "in": "query",
              "required": false,
              "description": "Return disputes created at or before this timestamp (ISO 8601).",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Disputes retrieved successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DisputeListResponse"
                  },
                  "example": {
                    "total": 1,
                    "items": [
                      {
                        "dispute_id": "dsp_3e7b1c9a2f48",
                        "charge_id": "chr_8f3a1c9b4e72",
                        "amount": "75.00",
                        "currency": "USD",
                        "status": "needs_response",
                        "is_response_editable": true,
                        "reason": "fraudulent",
                        "response_deadline_at": "2026-03-23T23:59:59.000Z",
                        "created_at": "2026-03-09T08:00:00.000Z",
                        "updated_at": "2026-03-09T08:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequests"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          },
          "x-mint": {
            "href": "/api-reference/disputes/list-disputes"
          }
        }
      },
      "/v1/payments/disputes/{dispute_id}": {
        "get": {
          "tags": [
            "Disputes"
          ],
          "summary": "Get Dispute",
          "description": "Retrieve full details for a single dispute, including the current evidence draft and latest submission metadata.",
          "operationId": "getDispute",
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "dispute_id",
              "in": "path",
              "required": true,
              "description": "Unique identifier for the dispute.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Dispute retrieved successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DisputeResponse"
                  },
                  "example": {
                    "dispute_id": "dsp_3e7b1c9a2f48",
                    "charge_id": "chr_8f3a1c9b4e72",
                    "amount": "75.00",
                    "currency": "USD",
                    "status": "under_review",
                    "is_response_editable": false,
                    "reason": "fraudulent",
                    "response_deadline_at": "2026-03-23T23:59:59.000Z",
                    "evidence": {
                      "customer_name": "Amara Osei",
                      "customer_email_address": "customer@example.com",
                      "product_description": "Annual SaaS subscription, plan ID PLAN-PRO-001",
                      "service_date": "2026-03-01",
                      "notes": "Customer confirmed delivery via email on March 5.",
                      "customer_communication_attachment_id": "upl_9f2c7b3d1e45"
                    },
                    "latest_submission": {
                      "submission_id": "dse_a1b2c3d4e5f6",
                      "status": "submitted",
                      "trigger_source": "merchant_submit",
                      "submitted_at": "2026-03-10T09:15:00.000Z",
                      "failed_at": null,
                      "attempt_sequence": 1
                    },
                    "created_at": "2026-03-09T08:00:00.000Z",
                    "updated_at": "2026-03-10T09:15:00.000Z"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
[...]
